<h1>{{ object.title }}</h1>
<p>{{ object.content }}</p>
{% if object.author == user %}
    <a href="{% url 'post-update' object.id %}">Edit</a>
    <a href="{% url 'post-delete' object.id %}">Delete</a>
{% endif %}
{% if user == comment.author %}
<a href="{% url 'comment-update' comment.id %}">Edit</a>
{% endif %}

<p>Tags:
{% for tag in object.tags.all %}
    <a href="{% url 'posts-by-tag' tag.slug %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
{% empty %}
    No tags
{% endfor %}
</p>